.Rproj.user
.Rhistory
.RData
.Ruserdata
Library_data/*
!Library_data/bash_scripts
External_data/*
!External_data/*.sh
Data_processing/*
!Data_processing/scripts
!Data_processing/pcr_primers.fa
Experimental_data/*
Analysis/Tables/*